In [1]:
import joblib
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
modelo = joblib.load('modelo_regresion_lineal_hipot1.pkl')
data_refined = pd.read_csv('data_clean.csv')

In [3]:
print("Datos refinados:")
display(data_refined.head())

Datos refinados:

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133
1,2,2014-05-02 00:00:00,342000.0,3.0,2.0,1930,11947,1.0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042
2,4,2014-05-02 00:00:00,550000.0,4.0,2.5,1940,10500,1.0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052
3,5,2014-05-02 00:00:00,490000.0,2.0,1.0,880,6380,1.0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115
4,6,2014-05-02 00:00:00,335000.0,2.0,2.0,1350,2560,1.0,0,3,1350,0,1976,0,2616 174th Ave NE,Redmond,WA 98052

In [4]:
def hacer_prediccion(input_data):
    """
    Esta función toma un DataFrame con los datos de entrada y devuelve las predicciones del modelo.
    """
    try:
        # Hacer predicciones usando el modelo cargado
        predicciones = modelo.predict(input_data)
        return predicciones
    except Exception as e:
        print(f"Error al predecir: {e}")

In [5]:
def monitorear_modelo(input_data, valores_reales):
    """
    Esta función toma los datos de entrada y los valores reales, hace predicciones y calcula las métricas RMSE y R².
    """
    try:
        # Hacer predicciones con el modelo
        predicciones = modelo.predict(input_data)
        
        # Calcular métricas de monitoreo
        rmse = mean_squared_error(valores_reales, predicciones, squared=False)
        r2 = r2_score(valores_reales, predicciones)
        
        # Mostrar métricas
        print(f"RMSE: {rmse}")
        print(f"R2 Score: {r2}")
        
        return rmse, r2
    except Exception as e:
        print(f"Error en el monitoreo: {e}")

In [6]:
ejemplo_datos_entrada = pd.DataFrame({
    "sqft_living": [1340,2500,1800],
    "sqft_basement": [0,400,300],
    "floors": [1.5,2,1],
    "yr_built": [1955,1995,1980]
})

In [7]:
predicciones = hacer_prediccion(ejemplo_datos_entrada)
print("Predicciones:")
print(predicciones)

Predicciones:
[[380830.79179095]
 [527475.0409261 ]
 [379328.17876808]]

In [8]:
valores_reales = [313000,520000,340000]

In [9]:
rmse, r2 = monitorear_modelo(ejemplo_datos_entrada, valores_reales)

RMSE: 45473.795373631525
R2 Score: 0.7550502172846587

C:\Users\taoiz\Desktop\Proyecto 1\p1\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(